---
# this is just going to generalize the font and other css elements everywhere
---
@charset "utf-8";

/* let's define some of our global variables for css essentially */

/**
 * Colors 
 **/

$default-font: Calibri, sans-serif;
$primary-color: #333;

$color-dark-grey: #666666;
$color-light-grey: #b3b3b3;

$color-bright-red: #ff2200; 

$color-light-blue: #4dd2ff; //almost like a teal
$color-dark-blue: #0000b3; //deep blue

$default-link-color: #33aaff; // used to use this one#1f67dd;
$color-black: #000000;
$default-link-hover-color: blue;
$text-color: black;
$color-white: #FFFFFF; 

// pretty sure i need this to import the partials
// this would connect all of the fonts

$spacing-unit: 80px;

$content-width: 1100px;
$on-laptop: 800px;

// pped from Zucker
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@import	"default";
@import "layout";
@import "syntax-highlighting";

