---
# this is just going to generalize the font and other css elements everywhere
---
@charset "UTF-8";

$default-font: Calibri, sans-serif;
$primary-color: #333;

body {
	font: 100% $default-font;
	color: $primary-color;
}

// pretty sure i need this to import the partials
// this would connect all of the fonts

@import	"default";
@import "layout";
