*.gem
*.swp
*~
.DS_Store
.analysis
.byebug_history
.jekyll-metadata
.ruby-gemset
.ruby-version
.sass-cache
/test/source/file_name.txt
/vendor
Gemfile.lock
_site/
bin/
bbin/
coverage
pkg/
test/dest
tmp/*
