# SITE CONFIGURATION
title: Where will you go next? # your site title
author: johnlarkin1 # You :P
email: john@johnjlarkin.com
description: > # Meta description of Homepage
  Exploring the world in the liberal arts BFS manner
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://johnlarkin1.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# SEO PLUGIN
social:
  name: John Larkin
  links:
    - https://www.linkedin.com/in/johnlarkin1/
    - https://github.com/johnlarkin1

# THEME SETTINGS
navigation: # Navigation links
  - {name: 'Home', link: '/'}
  - {name: 'Categories', link: '/categories'}
  - {name: 'About', link: '/about'}
  - {name: 'Contact', link: '/contact'}

projects: # Projects dropdown links (external)
  - {name: 'Tennis Scorigami', link: 'https://www.tennis-scorigami.com/'}
  - {name: 'Scrollz', link: 'https://www.scrollz.co/'}
  - {name: 'Walk in the Parquet', link: 'https://www.walkintheparquet.com/'}

about_links: # About dropdown links
  - {name: 'General', link: '/about/'}
  - {name: 'Timeline', link: '/assets/html/larkin-mcp/john-larkin-timeline.html'}

tagline: >
  My personal coding blog and thought journal.

hero_img: posts/everest-edit_lg.jpg # Main background image: use the path from /assets/img/ => This will output /assets/img/posts/sleek_lg.jpg

email: john@johnjlarkin.com # email for form submission

twitter_username: jlarks32 # replace with your_twitter_username or comment to remove link from footer
github_username:  johnlarkin1 # replace with your_github_username or comment to remove link from footer
# instagram_username: johnlarkin # replace with your_instagram_username or comment to remove link from footer
linkedin_username: johnlarkin1 # replace with your_linkedin_username or comment to remove link from footer
youtube_username: johnlarkin1 # replace with your_youtube_username or comment to remove link from footer

# disqus:
  # shortname: jlarks32 

google_tag_manager: GTM-KDHGNV6

# service_worker: true
service_worker: false

# This will show up on the tab! sooooper cool
logo: /images/mountain.png

# BUILD SETTINGS
markdown: kramdown
highlighter: rouge # or pygments or null
# theme: jekyll-sleek # Uncomment if you're using the theme as a ruby gem
exclude:
  - README.md
  - node_modules
  - script
  - package.json
  - package-lock.json
  - Gemfile
  - Gemfile.lock
  - vendor
  - npm-debug.log
  - gulpfile.js
  - sleek.jpg

include: ['_pages']
permalink: /:year/:title/

compress_html:
  clippings: all

plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jemoji

# Not totally sure what this is doing, but seen it
# ok so apparently this is relating the server time to the local time
# if we're ahead of the server time, it's not going to be built
future: true
