<header class="header" style="opacity:0" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="{{ '/' | relative_url }}">
        <div class="header__logo--container">
          {% include logo.svg %}
        </div>
      </a>
      <nav class="header__links">
        <div class="container header__links-wrapper">
          {% for item in site.navigation %}
            <a class="header__link" href="{{ item.link | relative_url }}" itemprop="url">
              <span itemprop="name">{{ item.name }}</span>
            </a>
            {% if forloop.first %}
            <div class="header__dropdown">
              <span class="header__link header__dropdown-trigger">
                Projects
                <svg class="header__dropdown-chevron" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
              <div class="header__dropdown-menu">
                {% for project in site.projects %}
                <a class="header__dropdown-item" href="{{ project.link }}" target="_blank" rel="noopener noreferrer">
                  {{ project.name }}
                  <svg class="header__external-icon" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 1.5L5.5 6.5M10.5 1.5H7M10.5 1.5V5M10.5 7V10C10.5 10.2761 10.2761 10.5 10 10.5H2C1.72386 10.5 1.5 10.2761 1.5 10V2C1.5 1.72386 1.72386 1.5 2 1.5H5" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </a>
                {% endfor %}
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </nav>
      <div class="header__toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
