<head>
	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- i wanted to be a little different and link a more general css file
		 note, i called it the base.scss so this is going to be slightly diff than main.scss --> 
	<link rel="stylesheet" href="{{ site.baseurl }}/css/base.css">

	<!-- ok so we want to track our google analytics on this site as well -->
	{% include analytics.html %} 
</head>

