<header class="global-header">
	<div class="global-header-wrapper">

		<div class="mountain-outline">
			<a href="https://johnlarkin1.github.io">
			<img src ="/images/mountain-23596.svg" alt="Explore">
			<p class="global-header-description">
				Where will you go next?
			</p>
			</a>
		</div>
		
		<nav class="site-navigation">
		<!-- {% for pg in site.pages %}
			{% if pg.title %}
				<a class="page-link" href="{{ pg.url | prepend: site.baseurl }}">{{ pg.title }}</a>
			{% endif %} 
		{% endfor %}
		-->
		<a class="page-link" href="/about"> About me! </a>
		</nav>	

	</div>		
</header>
