/**
 * This is just going to hold a bunch of default values
 * Note: sass = syntatically awesome style sheets
 * it's pretty much like light css
 * again, just trying to get where my head is at and record what i've learned so far
 */

/**
 * Partials - contain little snippets of CSS that you can include in OTHER sass files!!
 * This way you can just modularize everything
 * Note: Please name the partials with underscores. 
 * That way the file is not a full css file and should not be generated as one. 
 * Imported with the @import directive
 */

/*
// lets have everything be tight
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
*/

// please let me change my blog's font
body {
	font-family: $default-font;
	color: $primary-color;
	margin: 0;
	padding: 0;
}


// Can we do this for code?
code { 
	font-family: Consolas, monospace;
	color: green;
}

// Images
img {
	max-width: 100%; 
	vertical-align: middle;
}

// Links
a {
    color: $default-link-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

