/** 
 * Ok so this is going to be where we declare a bunch of HTML classes
 * That way we can just say like class = so and so 
 * And then we'll link everything together.
 * Let's try some things out. 
 */

/**************************************/
/******** Page Information ************/
/**************************************/

.page-title { 
	font-size: 36px;
	color: #000066;
}

.page-heading {
	font-size: 50px;
	color: black;
}

/**************************************/
/******** Post Information ************/
/**************************************/

.post-title {
	font-size: 30px;
	color: black;
	text-align: center;

}

.post-list {
	color: $primary-color;
	margin-left: 10px;
}
