/** 
 * Ok so this is going to be where we declare a bunch of HTML classes
 * That way we can just say like class = so and so 
 * And then we'll link everything together.
 * Let's try some things out. 
 */


/**************************************/
/******* Header Information ***********/
/**************************************/
.global-header {
	background: $color-light-blue; // need this in case the next line doesn't work
	background: linear-gradient($color-light-blue, $color-dark-blue);
    font-size: 18px;
	color: white;	
	// border-radius: 5px; - don't apply a radius border... seems cheap
	min-width: 100%;
	margin: 0;
	padding: 0;
	height: 70px;

	&body {
		margin: 0;
		padding: 0;
	}
}


.global-header-wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-right: 40px;
	padding-left: 40px;
	padding-bottom: 0;
	padding-top: 0;
}

.global-header-description {
	text-align: center;
	clear: left;
	font-size: 12px;
	color: white;
}

.mountain-outline {
	position: absolute;
    float: below;
    line-height: 0;
    padding-top: 0px;
	padding-bottom: 5px;
    text-align: center;
	width: 175px;
	height: auto;
}

/**************************************/
/******** Page Information ************/
/**************************************/

.page-title { 
	font-size: 36px;
	color: black;
}

.page-heading {
	font-size: 50px;
	color: $color-bright-red;
	text-align: center;
}

/* let's have a photo on our main page */
.page-main-photo {
	height: 400px;
	background-position: 0px -30px;
	background-size: cover;
}

/***************************i***********/
/******** Post Information ************/
/**************************************/

.post-title {
	font-size: 30px;
	color: black;
	text-align: center;

}

.post-list {
	color: $primary-color;
	margin-left: 10px;
}



/**************************************/
/******* Footer Information ***********/
/**************************************/
