table {
  display: table;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 1.25rem;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $dark-table-border;
  border-radius: 4px;
  font-size: 0.9rem;

  th {
    background-color: $dark-table-header;
    font-weight: bold;
    color: $dark-text;
  }

  th,
  td {
    padding: 6px 13px;
    border: 1px solid $dark-table-border;
  }
}
