footer {
  padding: 2.8125rem 0;
  border-top: 1px solid $dark-footer-border;
  text-align: center;
  font-size: 0.875rem;
  color: $dark-text;

  a:not(.social__link) {
    color: $dark-text;
    border-bottom: 0;

    &:hover,
    &:focus {
      color: $dark-link;
      border-bottom: 0;
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  margin: 0 auto 25px;
}

.social__link {
  color: $brand-github;
  transition: color 0.2s ease, transform 0.2s ease;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  &--github {
    color: $brand-github;
  }

  &--linkedin {
    color: $brand-linkedin;
  }

  &--twitter {
    color: $brand-twitter;
  }

  &--youtube {
    color: $brand-youtube;
  }

  &--instagram {
    color: $brand-instagram;
  }

  &--substack {
    color: $brand-substack;

    .social__icon {
      transform: scale(0.75);
    }
  }

  &--email {
    color: $brand-email;
  }

  &:hover {
    transform: scale(1.15) translateY(-2px);
  }
}

.social__icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
  display: inline-block;
  transition: transform 0.2s ease;
}
